<header>
    <img #girl src="../assets/girl.svg" />
  <h1>Dynamic Field Creation &amp; TweenMax</h1>
  
</header>
  
  <form [formGroup]="myForm" (ngSubmit)="save(myForm.value)">
  <div class="controls">
    <label>FirstName: </label>
    <input type="text" class="form-control" formControlName="FirstName">
  </div>
  <div class="controls">
    <label>LastName: </label>
    <input type="text" class="form-control" formControlName="LastName">
  </div>

  

  <div formArrayName="languages">

    <div *ngFor="let language of myForm.controls.languages.controls; let i=index">
        <div class="languages" [formGroupName]="i">
         <div class="controls">
            <label>Programming Language: </label>
            <input type="text" class="form-control" formControlName="programmingLanguage">
         </div>
         <div class="controls">
            <label>Experience: </label>
            <select formControlName="programmingExp">
              <option value="nothing" >Select...</option>
              <option value="less than 6 months">less than 6 months</option>
              <option value="more than 6 months">more than 6 months</option>
              <option value="more than 1 year">more than 1 year</option>
            </select>
          </div>  
          <p class="removeField" *ngIf="myForm.controls.languages.controls.length > 1" (click)="removeLanguage(i)"><i class="fas fa-times-circle"></i> Remove</p>
     
          </div>
    </div>

    <p class="add" (click)="addProgrammingLanguage()"><i class="fas fa-plus-circle"></i>Add Language</p>
  </div>
<input type="submit" [disabled]="!myForm.valid" value="Submit" />
</form>  
  


  <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
  <pre>form value: <br>{{myForm.value | json}}</pre>
